<!DOCTYPE html>
<html>

<head>
  <title>How to Delete Your Account</title>
</head>

<body>
  <h1>How to Delete Your Account</h1>
  <ol>
    <li>Please open the app and navigate to the settings page.</li>
    <li>The last item in the list of settings will be "Delete Account".</li>
    <li>Click on this item, read the warning, and confirm your choice.</li>


  </ol>
  <p>
    Please Note: All Flashlists that you created will be deleted with your account. Even if there are others listed
    as Editors
  </p>

  <p>
    If you have any questions please reach out via ben@flashlistapp.com. Thank you for trying Flashlist!
  </p>
</body>

</html>